/*
1. vị trí
2. kích thước(wid, hei)
3. màu sắcc
4. kiểu dáng
*/

/*
1. Làm trên xuống
2. Ngoài vào trong
*/
#slide {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("https://www.w3schools.com/w3images/chicago.jpg") top center/ cover no-repeat;
}
#slide .text-content {
  position: absolute;
  bottom: 47px;
  width: 100%;
  color: white;
  text-align: center;
}
#slide .text-content .text-heading {
  font-weight: 500;
  font-size: 24px;
}
